{% load staticfiles %}
{% include "mealsOnWheels/header.html" with page="About" %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<header>
				<h2>About the App</h2>
				<p>What is Meals on Wheels?</p>
			</header>
			<p>
				Looking for food trucks in Vancouver? We've got you covered. Our app can look for food trucks in downtown Vancouver. All the food trucks are displayed on a map and you are able to look for certain ones. If you feel like gorging on some delicious pizza or Vietnamese food, you can look for those food trucks in our app. You can also rate food trucks, view the truck ratings from all the other users, and add trucks to your favourite list of trucks to keep track of the ones you liked. If you have no idea where to eat today, our machine learning algorithm can provide you recommendations based on your list of favourite trucks. The locations of food trucks are shown on a map, and our app can show you a drool-worthy Instagram feed that's associated with each food truck.
			</p>

			<header>
				<h3>About the Recommendation System</h3>
			</header>
			<p>
			To provide good recommendations to users, our recommendation system first creates clusters of users with similar rating habits using a hierarchical clustering with an average linkage.

			In any clustering procedure, we must define a metric to measure how dissimilar two users’ rates are, or a dissimilarity measure.
			As users typically only rate some of the food vendors (and very rarely all), many ratings are “missing”.
			We originally considered naively imputing average feature values into missing values.
			However this could result in masking a cluster structure.
			Alternatively, we employ a scaled Euclidean distance as our dissimilarity measure.
			More mathematically, letting \(x_{i,j}\) to denote the rating of the \(i^{th}\) user to the \(j^{th}\) vendor (\(i=1,...,N,j=1,...,P\)), and \(N\) is the total number of users and \(P\) is the nubmer of food trucks, then distance between the \(i^{th}\) user and the \(i’^{th}\) user is measured by:

			$$ d_{i,i'} = \frac{P}{|A|}\sum_{j \in A} (x_{i,j} - x_{i',j})^2$$

			where \(A\) contains feature index that are non missing by both \(i\) and \(i'\).
			When \(A\) is empty, the dismiliarity measure is not identifiable.
			Therefore, we only use the users with more than 80% of vendor ratings to develop clusters.

			Once clusters are created, our recomendation system classifies a new user into the closest cluster center.
			We recommend a food truck that has not been rated by this user, and has the highest rate among the users in the same cluster.
			</p>

			<header>
				<h3>About the Creators</h3>
			</header>
			<p>
				We are a group of four computer science students from the University of British Columbia (UBC). Collectively, we are known as team <i>Djanguars</i> which is a portmanteau for 'Jaguar' and 'Django' - the latter being the Python framework that we used to create it. Our team members are Yumi Kondo, Vania Budiman, Anya McGee, and Steven Huang.
			</p>
		</article>

	</div>
</div>

{% include "mealsOnWheels/footer.html" %}