<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'mealsOnWheels/style.css' %}"/>
    <title> Detail</title>
</head>
<body>
    <!--<img class="headerimg"/>-->
    <div style="float:right">
        <img src="{% static 'mealsOnWheels/images/background.gif' %}" alt="Logo" height="220" width="400">
    </div>
    <h1 style="color:red;background-color:pink">
    question_text is: <em>{{ question.question_text }}</em></h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div style="background-color:yellow">
        <form action="{% url 'mealsOnWheels:vote' question.id %}" method="post">
            {% csrf_token %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="STUPID{{ forloop.counter }}" value="{{ choice.id }}"/>
                    <label for="STUPID{{ forloop.counter }}"><strong>Choice</strong>
                        {{forloop.counter}}: {{ choice.choice_text }}</label><br />
                {% endfor %}
            <input type="submit" value="Click Here to Vote" />
        </form>
    </div>

    <a href="{% url 'mealsOnWheels:index'%}",display="margin-top:3px">Back to the list of question page</a>
</body>
</html>