{% load staticfiles %}
{% include "mealsOnWheels/header.html" %}

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="{% url 'mealsOnWheels:index' %}">Home</a></li>
				{% if user.is_authenticated%}
                <li><a href="{% url 'mealsOnWheels:map' %}">Map</a></li>
				<li><a href="{% url 'mealsOnWheels:profile' %}">Profile</a></li>
				<li><a href="{% url 'mealsOnWheels:about' %}">About</a></li>
                <li><a href="/mealsOnWheels/logout/">Logout</a></li>
                {% else %}
                <li><a href="{% url 'mealsOnWheels:register' %}">Register</a></li>
                <li class="current"><a href="{% url 'mealsOnWheels:login' %}">Login</a></li>
                {% endif %}
			</ul>
		</nav>

	</div>
</div>

<!-- Main -->
<div id="main-wrapper">
	<div class="container">

		<!-- Content -->
			<article class="box post">
				<header>
					<h2>Login</h2>
					<p>Search for food trucks by logging in</p>
				</header>
				<p>
					<form id="login_form" method="post" action="{% url 'mealsOnWheels:login' %}">
				    {% csrf_token %}
				        Username: <input type="text" name="username" value="" size="50" />
				        <br />
				        Password: <input type="password" name="password" value="" size="50" />
				        <br />
				        <input type="submit" value="Login" />
				    </form>
					{% if message == "invalid" %}
                    <p><h3 style="color:red">Invalid username or password.</h3></p>
					{% elif message == "disable"%}
					<p><h3 style="color:red">Your meals on wheels account has not been activated.</h3></p>
                    {% endif %}
				</p>
			</article>

	</div>
</div>

{% include "mealsOnWheels/footer.html" %}