{% load staticfiles %}
{% include "mealsOnWheels/header.html" with page="Map" %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div id="map-row" class="9u 12u(mobile)">

				<!-- Content -->
				<article class="box post">
					<input id="pac-input" class="controls" type="text" placeholder="Enter your location">
					<div id="map-canvas"></div>
				</article>

				<article class="box post">
					<h1 id="rateh1">
						&nbsp;<input type="textbox" name="rating" value="rate?" id="rateinput"></input>
						&nbsp;<button id="button">Rate Now</button>
						&nbsp;<button id="myfav">Set as favorite</button>
						<div id = "listRate"></div>
						<div id = "listRateHeader">See more others' rating</div>

					</h1>
				</article>
			</div>
			<div id="food-truck-details-container" class="3u 12u(mobile)">

				<!-- Sidebar -->
				<section id="selected-food-truck-details" class="box">
					<header>
						<h3>Search for Food Trucks</h3>
					</header>
					<p>
						Click on a food truck marker to view its info.
					</p>

				</section>

				<section id="selected-food-truck-instagram" class="box">
					<div class = "image-popup-vertical-fit" id="instafeed"><p><img id="default-instagram-background"></p></div>
				</section>
				<section id ="fav-trucks" class="box">
					<header>
						<h1>Your favourite trucks</h1>
						<p id="my-fav"></p>
						<a id= "remove-fav">Remove all favourites</a>
					</header>
				</section>

			</div>
		</div>
	</div>
</div>

{% include "mealsOnWheels/footer.html" %}