{% load staticfiles %}
{% include "mealsOnWheels/header.html" with page="Map" %}

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="{% url 'mealsOnWheels:index' %}">Home</a></li>
					<li class="current"><a href="{% url 'mealsOnWheels:map' %}">Map</a></li>
					<li><a href="{% url 'mealsOnWheels:profile' %}">Profile</a></li>
					<li><a href="{% url 'mealsOnWheels:about' %}">About</a></li>
					<li><a href="/mealsOnWheels/logout/">Logout</a></li>
				</ul>
			</nav>

		</div>
	</div>

<!-- Main -->
<div id="main-wrapper">
		<div class="container">
			<div class="row">
				<div id="map-row" class="9u 12u(mobile)">

					<!-- Content -->
					<article class="box post">
						<div id="map-canvas">
					</article>

				</div>
				<div id="food-truck-details-container" class="3u 12u(mobile)">

					<!-- Sidebar -->
					<section id="selected-food-truck-details" class="box">
						<header>
							<h3>Search for Food Trucks</h3>
						</header>
						<p>
							Click on a food truck marker to view its info.
						</p>
					</section>
					<section id="selected-food-truck-instagram" class="box">
						<div id="instafeed"><p><img id="default-instagram-background"></p></div>
					</section>

				</div>
			</div>
		</div>
	</div>
</div>

{% include "mealsOnWheels/footer.html" %}