{% load staticfiles %}
{% include "mealsOnWheels/header.html" with page="Profile" %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<header>
				<h2>Profile</h2>
				<p>Your account information</p>
			</header>
			<section>
					<header><h3>Current Profile Settings</h3></header>
				<p>
					<b>
					{% if user.is_authenticated %}
					User: {{user.username}}
					<br>Email: {{user.email}}
					{% endif %}
					</b>
				</p>
			</section>
			<section>
				<header><h3>Change Profile Settings</h3></header>
				<p>
					{% if settings_changed %}
			        <p><h4 style="color: green">Profile preferences have been saved.</h4></p>
			        {% endif %}
		        <form id="user_form" method="post" action="{% url 'mealsOnWheels:profile' %}"
		                enctype="multipart/form-data">

		            {% csrf_token %}

		            <!-- Display each form. The as_p method wraps each element in a paragraph
		                 (<p>) element. This ensures each element appears on a new line,
		                 making everything look neater. -->
		            {{ user_form.as_p }}

		            <!-- Provide a button to click to submit the form. -->
		            <input type="submit" name="submit" value="Save changes" />
		        </form>
				</p>
			</section>
		</article>

	</div>
</div>

{% include "mealsOnWheels/footer.html" %}