{% load staticfiles %}
{% include "mealsOnWheels/header.html" %}

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="{% url 'mealsOnWheels:index' %}">Home</a></li>
				{% if user.is_authenticated%}
                <li><a href="{% url 'mealsOnWheels:map' %}">Map</a></li>
				<li><a href="{% url 'mealsOnWheels:profile' %}">Profile</a></li>
				<li><a href="{% url 'mealsOnWheels:about' %}">About</a></li>
                <li><a href="/mealsOnWheels/logout/">Logout</a></li>
                {% else %}
                <li><a href="{% url 'mealsOnWheels:register' %}">Register</a></li>
                <li class="current"><a href="{% url 'mealsOnWheels:login' %}">Login</a></li>
                {% endif %}
			</ul>
		</nav>

	</div>
</div>

<!-- Main -->
<div id="main-wrapper">
	<div class="container">

		<!-- Content -->
			<article class="box post">
				<h1><center>You are almost there! To complete the registration, please go to your email and click on the provided link.</center></h1>
			</article>

	</div>
</div>

{% include "mealsOnWheels/footer.html" %}