<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'mealsOnWheels/style.css' %}"/>
    <title> Register </title>
</head>
    <body>
        <div style="float:right">
            <img src="{% static 'mealsOnWheels/images/background.gif' %}" alt="Logo" height="220" width="400">
        </div>
        <h1 id="registPage">Registration Page</h1>
        <div style="clear: left; ">
            {% if registered %}
                Poll App says <strong> Thank you for registering! </strong>
                <a href="{% url 'mealsOnWheels:index' %}"> Return to the homepage.</a>
            {% else %}
                Poll App says: <strong> register here</strong><br />
                <form id="user_form" method="post" action="{% url 'mealsOnWheels:register' %}"
                      enctype="multipart/form-data">
                {% csrf_token %}
                <!--
                Display each form. The as_p method wraps each element in a paragraph <p> element.
                This ensures each element appears on a new line, making everything look neater.
                -->
                    {{user_form.as_p}}
                    {{profile_form.as_p}}
                <!--
                    Provide a button to click to submit the form
                -->
                <input type="submit" name="submit" value="Register" />
                </form>
             {% endif %}
            <a href="{% url 'mealsOnWheels:login' %}">Log in</a>
        </div>
    </body>
</html>