{% load staticfiles %}
{% include "mealsOnWheels/header.html" with page="Register" %}

<!-- Main -->
<div id="main-wrapper">
	<div class="container">

		<!-- Content -->
		<article class="box post">
			<header>
				<h2>Register</h2>
				<p>Create a new account</p>
			</header>
			<p>
				<form class="form-signup" action="{% url 'mealsOnWheels:register' %}" method = "post">
					{% csrf_token %}
					{{form.as_p}}
					<input type="submit" name="submit" value="Register" />
				</form>
			</p>
		</article>

	</div>
</div>

{% include "mealsOnWheels/footer.html" %}